@font-face {
    font-family: "myFont";
    src: url("font/LeagueGothic-Regular.woff");
}

html {
    background-color: antiquewhite;
}

.name {
    font-size: 72px;
    font-family: 'myFont', Courier, monospace;
}

.block {
    margin: 1vh;
    padding: 5px;
    height: 95vh;
    width: 95vw;
    border: 5px solid black;
    border-radius: 5px;
}

.about-me {
    background: linear-gradient(45deg, black, black, red);
    color: white;
}

.about-me-text {
    display: inline-block;
    vertical-align: middle;
    height: 50vh;
    width: 42vw;
    margin-top: 10vh;
    margin-left: 10vw;
}

.about-me-photo {
    display: inline-block;
    vertical-align: middle;
    height: 50vh;
    width: 42vw;
}

.about-me-photo img {
    height: 60vh;
    margin-right: 15vw;
    margin-top: 5vw;
}

.about-me-link a {
    font-size: 24px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: linen;
    text-decoration: underline;
}

a:active {
    color: linen;
    text-decoration: underline;
}

.github {
    background-color: #666;
    display: table;
    text-align: center;
}

.github-qr {
    display: table-cell;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mail {
    background-color: #ff4343;
    display: table;
    text-align: center;
}

.mail-qr {
    display: table-cell;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.vk {
    background-color: #0077ff;
    display: table;
    text-align: center;
}

.vk-qr {
    display: table-cell;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}